
<div style="display:flex; flex-wrap: wrap" >
<div *ngFor="let saveproduct of saveProducts" >
<div  class="card" style="width: 18rem; margin-top: 20px; margin-left: 20px;" >
    
    <img class="card-img-top" src="{{saveproduct.productImage}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{saveproduct.productName}}</h5>
      <h5 class="card-title"></h5>
      <p class="card-text"></p>
      <a class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
</div>
  <div>
    
  </div>