
<!-- <div class="card" style="width: 18rem; margin-left: 20px; margin-top:20px;">
    <img src="{{product.productImage}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h2>{{product.productName}}</h2>
      <h3>{{product.productCategory}}</h3>
      <h4>{{product.productPrice}}</h4>
      <button *ngIf="product.email === userdata.email">Edit </button>
      <button *ngIf="product.email === userdata.email">Delete</button>
      <p class="card-text"></p>
    </div>
  </div> -->

<!-- 


<section style="background-color: #eee;">
  <div *ngIf="product">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="card text-black">
          <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>
          <img src="{{product.productImage}}"
            class="card-img-top" alt="Apple Computer" />
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title">{{product.productName}}</h5>
              <p class="text-muted mb-4">{{product.productBrand}}</p>
            </div>
            <div>
              <div class="d-flex justify-content-between">
              <span>  {{product.productCategory}}</span>
              </div>
              </div>
            <div class="d-flex justify-content-between total font-weight-bold mt-4">
              <button type="button" class="btn btn-primary" data-toggle="button" (click)="viewproduct(product)" aria-pressed="false" autocomplete="off">
                View
              </button>
              <span *ngIf="product.email === loggedInUserEmail">
                <button type="button" (click)="editProduct()" class="btn btn-success" data-toggle="button" aria-pressed="false" autocomplete="off">
                  Edit
                </button>
                <button type="button" (click)="deleteProduct()" class="btn btn-danger" data-toggle="button" aria-pressed="false" autocomplete="off">
                  Delete
                </button>
                

              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section> -->
<!-- 
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->
<!-- 
<div >
    <br>
    <h4></h4>
	<br>
	<div class="row" id="ads"> -->
    <!-- Category Card -->
    <!-- <div class="col-md-4">
        <div class="card rounded">
            <div class="card-image">
                <span class="card-notify-badge">{{product.productBrand}}</span>
                <span class="card-notify-year">{{product.date}}</span>
                <img class="img-fluid" src={{product.productImage}} alt="Alternate Text" />
            </div>
            <div class="card-body text-center">
              <div class="ad-title m-auto">
                  <h5>{{product.productName}}</h5>
              </div>
            <div class="card-image-overlay m-auto">
                <span class="card-detail-badge">{{product.productPrice}}</span>
                <span class="card-detail-badge">{{product.name}}</span>
                
            </div>
            
                <a class="ad-btn" (click)="viewproduct(product)" >View</a>
                <span *ngIf="product.email === loggedInUserEmail">
                  
                  <button type="button" (click)="editProduct()" class="btn btn-success" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Edit
                  </button>
                  <button type="button" (click)="deleteProduct()" class="btn btn-danger" data-toggle="button" aria-pressed="false" autocomplete="off">
                    Delete
                  </button>
                  
  
                </span>
            </div>
        </div>
    </div>
</div> -->

<div style="display:flex; flex-wrap: wrap" >

  <div>
  
  </div>
  <div *ngFor="let product of allProducts" >
  <div  class="card" style="width: 18rem; margin-top: 20px; margin-left: 65px; margin-bottom: 30px;"  >
    
      <img class="card-img-top" src="{{product.productImage}}" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">{{product.productBrand}}  <strong>{{product.productName}}</strong></h4>
        <h6 class="card-title">{{product.productPrice}}</h6>
        <p class="card-text">{{product.name}}</p>
        <a class="btn btn-primary" style="margin-right: 10px;" (click)="viewproduct(product)">View</a>
        <span *ngIf="product.email === loggedInUserEmail">
                  
          <button type="button" (click)="editProduct()" style="margin-right: 10px;" class="btn btn-success" data-toggle="button" aria-pressed="false" autocomplete="off">
            Edit
          </button>
          <button type="button" (click)="deleteProduct()" class="btn btn-danger" data-toggle="button" aria-pressed="false" autocomplete="off">
            Delete
          </button>
          

        </span>
      </div>
    </div>
  </div>
  </div>
    <div>
      
    </div>