a{
  cursor: pointer;
  height: 50px;
  padding: 10px;
  margin-top: 5px;
  margin-right: 5px;
  border: 2px solid white;
  border-radius: 5px;
}
.container-fluid{
  background-color: #4e8eed;
  padding: 0px 0px;

}
h5{
  color: white;
  margin-top: 15px;
}
img{
  margin-top: 10px;
  border: transparent;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.logo{
  border: transparent;
  border-radius: 0px;
  margin-top: 2px;

}
