.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    }
    .img{
        margin-left: 170px;
    }
    .fullimg{
        margin-left: 200px;
       
        padding: 5px;
        border: transparent;
        border-radius: 100px;
    }
    input[type="file"]::file-selector-button {
        border: 2px solid #458df8 ;
        padding: 0.2em 0.4em;
        border-radius: 0.2em;
        background-color:  #4f85d7;
        transition: 1s;
      }
      
      input[type="file"]::file-selector-button:hover {
        background-color: #6ba3f8;
        border: 2px solid #458df8;
      }